


/* Form's Designing */

*{
    margin: 0;
    padding: 0;
}

#alert{
  margin: 0;
}


#form {
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 60px;
    padding-right: 60px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.16) 0px 30px 60px -30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    border-radius: 10px;
    font-size: 18px;
    background-color: white;
  }

  .sign{
    position: relative;
    bottom: 360px;
    right: 138px;
  }

  
  .first-name,
  .last-name,
  .date,
  .length,
  .course,
  .teacher {
    margin-top: 20px;
  }
  
  label {
    margin-top: 15px;
  }
  
  input {
    background-color: transparent;
    border: none;
    font-size: 18px;
    width: 300px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.563);
  }
  #Generate,
  #download {
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 6px;
    font-family: "Montserrat", sans-serif;
    width: 250px;
    background-color: rgba(0, 0, 255, 0.496);
    height: 50px;
    transition: all 0.3s;
  }


  #Generate{
    margin-top: 25px;
  }

  .btn {
    /* margin-top: 25px; */
    display: flex;
    justify-content: center;
  }
  .containerr {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dbdbdbc3;
  }

  #Generate:hover,
  #download:hover {
    background-color: rgba(0, 0, 255, 0.694);
  }


  #Generate>a{
  text-decoration: none;
  color: white;
  font-size: 17px;
  }

  /* Certificate CSS */

  
  #certificate {
    height: 715px;
  }
  
  .content {
    padding: 60px;
    display: flex;
    justify-content: center;
  }
  
  .inside {
    /* background-color: white; */
    /* border: 2px solid black; */
    padding: 25px;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .name {
    position: relative;
    color: #100F0D;
    bottom: 442px;
    text-align: center;
    font-size: 87px;
    font-family: 'Alex Brush', cursive;
  }
  
  .description {
    position: relative;
    color: #100F0D;
    text-align: left;
    bottom: 418px;
    font-weight: bold;
    left: 70px;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    margin-right: 30%;
    max-width: fit-content;
  
    /* left: 170px; */
  }
  
  .one,
  .two,
  .three {
    cursor: pointer;
    border-radius: 100%;
    padding: 5px;
    text-align: center;
    width: 37px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.15) 0px 3px 7px -3px;
  }
  
  .one {
    border: 2.5px solid rgb(33, 118, 255);
  }
  
  .two,
  .three {
    margin-left: 12px;
  }
  
  .custom-box {
    position: relative;
    bottom: 240px;
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    align-items: center;
    padding: 15px;
  }

  h2{
    padding-right: 30px;
  }
  
  .color-box {
    display: flex;
    justify-content: center;
    padding-right: 15px;
  }
  
  .btn-group {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.15) 0px 3px 7px -3px;
  }
  
  .font-box {
    display: flex;
    padding-left: 15px;
  }
  
  .download {
    font-family: "Montserrat", sans-serif;position: relative;
    top: 20px;

  }
 
  
  #Download{
    display: none;
    position: relative;
    bottom: 155px;
    font-size: 25px;
  }

  .content{
    display: none;
    text-align: center;

  }

  #modal{
    position:fixed;
    top: 89%;
    left: 92%;
    animation-name: tilt;
    animation-duration: .51s;
    animation-iteration-count: infinite;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  
  #modal-img{
    height: 50px;
  
  }
  
  @keyframes tilt {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(3deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-3deg); }
    100% { transform: rotate(0deg); }
  }

  #display-image{
    position: relative;
    bottom: 40px;
    mix-blend-mode: multiply;
    width: 180px;
    height: 116px;
    background-position: center;
    background-size: 100% 100%;
  }


  /* Font Styling */

#dancing{
  font-family: 'Dancing Script', cursive;
}

#alex, #alex2{
  font-family: 'Alex Brush', cursive;

}

#caveat{
  font-family: 'Caveat', cursive;

}

#Courgette{
  font-family: 'Courgette', cursive;
}

#Allura{
  font-family: 'Allura', cursive;
}